html,body{
    width: 100vw;
    height: 100vh;
    background: #eceaea
  }
*{margin: 0; padding: 0;}
.t_r{
    text-align: right;
}
.m_16{
    margin: .5rem;
}
.b_g_g{
    background: #f3f5f4 !important
}
.h_15{
    height: 1.5rem;
    line-height: 1.5rem;
}
.b_g_grey{
    background: #eceaea
}
.m_t_2{
    margin-top: .2rem;
}
.b_g_white{
    background: #ffffff
}
.m_1{
    margin: .1rem 0;
}
.lod_box{
    width: 1rem;
    height: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -0.5rem;
    margin-top: -.5rem;
}
.h_117{
    height: 1.17rem;
    line-height: 1.17rem;
}
.f_4{
    font-size: 0.4rem;
}
.m_l_5{
    margin-left: 0.5rem;
}
.d_f{
    display: flex;
    justify-content: space-around;
    background: #ffffff;
}
.b_1{
    border: .01rem solid #edeaea;
}
.t_a_c{
    text-align: center;
}